* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: #656565;
  color: #fff;
}

#main {
  width: 800px;
  margin: 10% auto;
}

#portrait {
  width: 400px;
  height: 300px;
  display: inline;
}

#video {
  display: inline;
  width: 400px;
  height: 300px;
  background-color: #999;
  font-size: 0;
}

#snapshot {
  background-color: #999;
  width: 400px;
  height: 300px;
  display: none;
}

canvas {
  display: none;
  width: 40%;
  height: 400px;
}

h1 {
  text-align: center;
  padding: 2rem 0;
  margin: 0;
  font-weight: 400;
  font-size: 3em;
}

.button {
  padding: 0.5em;
  display: inline-block;
  margin: 1em auto;
}

.buttons-wrapper {
  text-align: center;
}

#button-stop {
  display: none;
}

.hidden {
  display: none;
}
