* {
  box-sizing: border-box;
}

.portrait {
  float: left;
  height: 300px;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}

.portrait h3 {
  display: none;
  width: 300px;
}

.selectPortrait {
  display: none;
  margin: 0 auto;
  cursor: pointer;
}

img {
  height: 300px;
  width: 300px;
  border:10px solid black;
  cursor: pointer;
}

.portrait img:hover {
  border:10px solid red;
}
