
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Base Styles
- Logo
- Typography
- Hero Slider
- Sections
		- Section: Gallery
		- Section: Match the Pose

*/


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
	background: url(http://www.portrait.gov.au/files/6/4/a/0/i5189.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; }

	/* This is the black reduced-opacity overlay on top of the background image */
	html:after {
		content: "";
		background: rgba(0, 0, 0, 0.6);
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: fixed;
		z-index: -1; }

body {
	width: 100%;
	padding-top: 10%;
	font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.6;
	font-weight: 400;
	font-family: "myriad-pro-condensed", Helvetica, Arial, sans-serif;
	color: #fff; }


/* Logo
__________________________________________________ */

#logo {
	text-indent: -9999px;
	font-size: 0;
	display: block;
	max-width: 100%;
	min-height: 100px;
	background: url(https://s6.postimg.org/7hvcqwm5d/npg-print-inline_white.png) no-repeat center top;
	background-size: 100%;
	margin: 0 auto;
	padding-top: 5%; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h2 {
	font-weight: 400;
	font-size: 6rem;
	line-height: .5;
	letter-spacing: .1rem; }

	h2#gallery-num {
		font-weight: 400;
		font-size: 6rem;
		line-height: .8;
		letter-spacing: .1rem;
		text-transform: uppercase; }

h3 {
	font-weight: 300;
	font-size: 3.5rem;
	line-height: 1;
	letter-spacing: .1rem; }

h4 {
	font-size: 1.8rem;
	line-height: 1;
	letter-spacing: .2rem;
	text-transform: uppercase; }

p {
	font-weight: 300;
	font-size: 2rem; }

.title {
	padding-bottom: 5%;	 }

.subtitle {
	font-size: 2.8rem; }

.backButton {
	font-size: 3rem;
	text-decoration: none;
	color: #b42b33;
}


/* Hero Slider – Work in Progress
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#hero-slider {
	width: 100%;
	min-height: 250px;
	box-sizing: border-box;
	text-indent: -9999px;
	font-size: 0;
	display: block;
	background-size: 100%;
	margin-bottom: 5%;
	overflow: hidden;
	white-space: nowrap;
	top: 0;
	left: 0; }

	#hero-slider li {
		margin: 0;
		width: 100%;
		padding: 0;
		display: inline-block;
		background-size: cover;
		height: auto;
		width: 100%; }

		#hero-slider li:first-child {
		      animation: slider 80s infinite;
		     -webkit-animation: slider 80s infinite; }

		/* Hero slider images */
		#hero1 {
			background-image: url(http://www.portrait.gov.au/files/9/9/8/4/i9686.jpg); }
		#hero2 {
			background-image: url(http://www.portrait.gov.au/files/c/0/0/e/i8548.jpg); }
		#hero3 {
			background-image: url(http://www.portrait.gov.au/files/4/f/5/a/i5381.jpg); }
		#hero4 {
			background-image: url(http://www.portrait.gov.au/files/f/c/3/f/i9682.jpg); }
		#hero5 {
			background-image: url(http://www.portrait.gov.au/files/8/2/d/2/i10008.jpg); }


/* Hero slider animations */
@keyframes slider {
	0% { margin-left: 0px; }
	10% { margin-left: 0px;	}
	20% { margin-left: -200%; }
	30% { margin-left: -200%; }
	40% { margin-left: -400%; }
	50% { margin-left: -400%; }
	60% { margin-left: -600%; }
	70% { margin-left: -700%; }
	80% { margin-left: -800%; }
	90% { margin-left: -800%; }
	100% { margin-left: 0px; } }

@-webkit-keyframes slider {
	0% { margin-left: 0px; }
	10% { margin-left: 0px;	}
	20% { margin-left: -200%; }
	30% { margin-left: -200%; }
	40% { margin-left: -400%; }
	50% { margin-left: -400%; }
	60% { margin-left: -600%; }
	70% { margin-left: -700%; }
	80% { margin-left: -800%; }
	90% { margin-left: -800%; }
	100% { margin-left: 0px; } }


/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section {
	padding-bottom: 2%; }

#gallery {
	max-height: 700px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch; } /* Alternate value is "auto" which stops scrolling immediately.
											See here for more info: https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-overflow-scrolling */

	#gallery .four.columns {
		padding: 0;
		display: inline-block; }

	#gallery img {
		box-sizing: border-box;
		width: 100%;
		height: auto;
		cursor: pointer; }

footer {
	padding: 3% 0; }


/* Section: Gallery
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#selectPortraitButton {
	background-color: #777;
	color: #999;
	cursor: default;
}


/* TEST- making text visiable over image on click - bonney 19/4 */
	 a img { border: none; }
 .caption { visibility: hidden; }
 .caption:target { visibility: visible; }

/* Section: Match the Pose
–––––––––––––––––––––––––––––––––––––––––––––––––– */

canvas {
  display: none;
}
#artContainer {
  display: inline;
	width: 100%;
	margin-bottom: 30px;
}
#squarePose {
  width: 47.5%;
  float: right;
  overflow: hidden;
}
    #poseVideo {
      margin-left: -25%;
      height: 100%;
    }
    #poseImage {
      margin-left: -25%;
      display: none;
    }
#shareButton {
  display: none;
}
#filters {
	display: none;
}
